<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <meta name="description" content="チャンスポートは、社会人と学生の熱意を繋ぐ“好機の港”です。
社会人の「事業を進める上で、学生のインサイトがほしい」「学生の勢いとエネルギーを借りたい」というニーズと、
学生の「社会との関わりを持ちチャレンジしてみたい」「自分の力を試したい」「業界を知りたい」といったニーズをマッチングさせる、プラットフォームの役割を担います。">
  <meta name="keywords" content="">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <title>Chanceport</title>
</head>
<body>
<div id="home_header">
  <a href="/"><img src="/assets/logo_header.JPG" class="header_logo"></a>
  <div id="header-menu">
    <div class="header-menu-icon">
      <i class="material-icons">account_circle</i>
      <p>新規登録</p>
    </div>
    <div class="header-menu-icon">
      <i class="fa fa-book" aria-hidden="true"></i>
      <p>CP BLOG</p>
    </div>
    <div class="header-menu-icon">
      <i class="fa fa-star" aria-hidden="true"></i>
      <p>運営に参加</p>
    </div>
  </div>
  <div id="navi">
    <ul>
      <li><a href="#contents_7" class="">お問い合わせ</a></li>
      <li><a href="#contents_6" class="">企業の方</a></li>
      <li><a href="#contents_5" class="">学生の方</a></li>
      <li><a href="#contents_4" class="">プロジェクト</a></li>
      <li><a href="#contents_3" class="">組織概要</a></li>
      <li><a href="#" class="">TOP</a></li>
    </ul>
  </div>
</div>
<div id="contents_1" class="">
  <div class="login_field">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="login_email">
        <label class="mdl-textfield__label" for="sample1">メールアドレス</label>
      </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="login_password">
        <label class="mdl-textfield__label" for="sample1">パスワード</label>
      </div>
    </form>
    <div class="button_div">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        <i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN
      </button>
    </div>
    <div class="button_div">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        <i class="fa fa-sign-in" aria-hidden="true"></i> 新規登録
      </button>
    </div>
  </div>
</div>
<div id="contents_2" class="">
  <h2>MISSION</h2>
  <p>大海原を旅する猛者たちと、それに憧れる若者たち。</p>
  <p>熱い志を持った両者が港で出会い、同じ船で航海に出る。</p>
  <p>そんな冒険の旅をサポートしたい。</p>
  <p>この思いで、チャンスポートは活動しています。</p>
</div>
<div id="contents_3" class="">
  <h2>ABOUT US</h2>
  <div class="about_us">
    <div class="about_us_right">
      <h6>チャンスポートは、社会人と学生の熱意を繋ぐ“好機の港”です。</h6>
      <p>社会人の<strong>「事業を進める上で、学生のインサイトがほしい」「学生の勢いとエネルギーを借りたい」</strong>というニーズと、学生の<strong>「社会との関わりを持ちチャレンジしてみたい」「自分の力を試したい」「業界を知りたい」</strong>といったニーズをマッチングさせる、プラットフォームの役割を担います。</p>
    </div>
    <div class="about_us_left about_us_left_1"></div>
  </div>
  <div class="about_us">
    <div class="about_us_right">
      <h6>私たちは、「やりがい搾取」を阻止するということをミッションに掲げています。</h6>
      <p>昨今、インターンシップの名のもとに、経験を対価として、無償で学生を働かせている会社が蔓延しています。私たちはこれを大きな問題と捉えています。</p>
      <p>このやりがい搾取の構図を解消するため、<strong>「学生の強み」</strong>と<strong>「企業側のニーズ」</strong>をWin-Winの関係で合致させるプラットフォームを構築しました。</p>
    </div>
    <div class="about_us_left about_us_left_2"></div>
  </div>
  <div class="about_us">
    <div class="about_us_right">
      <h6>Chanceportは学生、企業に以下の価値を提供します。</h6>
      <p>＊　学生と企業が互いのニーズを補完し合あえる関係の構築<br>＊　Chanceportチームのサポート<br>＊　橋渡しによる、学生アウトプットの質の担保<br>＊　学生に対する、成果に相応した十分な報酬の支払い<br>＊　新しい物の見方、方向性を見いだせる「チャンス」の提供</p>
    </div>
    <div class="about_us_left about_us_left_3"></div>
  </div>
  <div class="button_div">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored team_members_button">
      運営紹介
    </button>
  </div>
</div>
<div id="contents_4" class="">
  <h2>OUR PROJECTS</h2>
  <div class="card_field">
    <!--<div class="demo-card-square mdl-card mdl-shadow--2dp">
      <p>☆ 主な活動内容 ☆</p>
      <ol class="defaultlist list12">
        <li class="list12-count">企業へのコンサルティング​</li>
        <li class="list12-count">企業と学生/学生団体のマッチング</li>
        <li class="list12-count">プロジェクトの受注</li>
        <li class="list12-count">プロジェクトの主導/補助</li>
        <li class="list12-count">プロジェクトの部分外注</li>
        <li class="list12-count">学生への情報配信</li>
      </ol>
    </div>-->
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-3">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">セラフィオーレ展示会</h2>
      </div>
      <div class="mdl-card__supporting-text">
        先生の初の展示会主宰に向けての準備。<br>
        some more text<br>
        some more text
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal3" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-1">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">お面プロモーション</h2>
      </div>
      <div class="mdl-card__supporting-text">
        アーティストとコラボし、お面のオンラインプレゼンスを生むプロモーションを行いました。<br>
        some more text
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-2">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">作文教室立ち上げ</h2>
      </div>
      <div class="mdl-card__supporting-text">
        春の開校に向けての準備として、HPの作成をお手伝いしました。<br>
        some more text
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal2" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
  </div>
  <!--<div class="card_field toggle_projects_target" style="display:none;">
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-3">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">お面プロモーション</h2>
      </div>
      <div class="mdl-card__supporting-text">
        
        アーティストとコラボし、お面のオンラインプレゼンスを生むプロモーションを行いました。
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal3" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-4">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">2017/02/06</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-5">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">2017/02/06</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
  </div>
  <!--<div class="card_field toggle_projects_target" style="display:none;">
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-6">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">2017/02/06</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-7">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">2017/02/06</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp project-card-8">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">2017/02/06</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a data-target="modal1" class="modal-open mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read More
        </a>
      </div>
    </div>
  </div>
  <!--<div class="button_div">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="toggle_projects">
      全プロジェクトを表示/非表示
    </button>
  </div>-->
</div>
<div id="contents_5" class="">
  <h2>学生の方</h2>
  <p>Chanceportを使うと、学生の方は以下のようなフローでお仕事に取り組んでいただくことが可能です<br>（これとは異なるフローのものもあります）</p>
  <div class="student_flow">
    <div class="student_flow_card_row">
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>１. 登録</b></h5>
          <p>▶ メールアドレスを登録していただくことで、マイページにログインすると、メンバー募集中のプロジェクトの一覧が見られます。</p>
        </div>
      </div>
      <div class="arrow_between_cards">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>２. 応募</b></h5>
          <p>▶ プロジェクトの概要、応募資格、チームor個人ワークか、報酬制度、所要時間、といった情報をじっくり検討した上で、やってみたいプロジェクトに応募します。</p>
        </div>
      </div>
      <div class="arrow_between_cards">
        <i class="material-icons">keyboard_arrow_right</i>
      </div> 
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>３. 面談</b></h5>
          <p>▶ 応募者にプロジェクトの認識に間違いがないか、適性があるか等を、運営が確認するためのプロセスです（無い場合もあります）。</p>
        </div>
      </div>
    </div>
    <div class="student_flow_card_row">
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>６. 完了！！</b></h5>
          <p>▶ 報酬を受取り、プロジェクト完了となります。</p>
        </div>
      </div>
      <div class="arrow_between_cards">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>５. 報告・提出</b></h5>
          <p>▶ 最後の仕上げは企業に対する結果報告や、完成品の納品です。ここでどれだけ力を発揮できるかが大事。</p>
        </div>
      </div>
      <div class="arrow_between_cards">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>      
      <div class="student_flow_card_content">
        <div class="student_flow_card_image"></div>
        <div class="student_flow_card_description">
          <h5><b>４. 作業</b></h5>
          <p>▶ 「個人」、または、「集ったメンバー + Chanceportの運営メンバー」で、出されている課題に取り組みます（期間はプロジェクト次第ですが、1日~3ヶ月）。
        </div>
      </div>
      <div class="arrow_between_cards">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
  <div class="button_div">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      <i class="material-icons">keyboard_arrow_right</i>会員に登録する<i class="material-icons">keyboard_arrow_left</i>
    </button>
  </div>
</div>
<div id="contents_6" class="">
  <h2>企業の方</h2>
  <p>以下のようなお仕事を意欲ある学生に依頼されたいと考えている方、<br>ぜひ下記フォームよりお問い合わせください</p>
  <div class="worker_flow">
    <div class="worker_flow_card_row">
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>アート・デザイン</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>映像制作</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>コーディング</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>記事作成</p>
        </div>
      </div>
    </div>
    <div class="worker_flow_card_row">
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>翻訳</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>分析・調査</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>文書作成</p>
        </div>
      </div>
      <div class="worker_flow_card_content">
        <div class="worker_flow_card_description">
          <p>学生への情報発信</p>
        </div>
      </div>
    </div>
  </div>
  <div class="button_div">
  </div>
</div>
<div id="contents_7" class="">
  <%= render 'inquiry_form' %>
</div>
<%= render 'footer' %>
<%= render 'modals' %>
</body>
</html>