<div class="top_content" id="content">
  <div class="confirmation_card">
    <h4>お問い合わせ内容確認</h4>
    <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
      <p><b>【名前】</b><br><%= @inquiry.name %></p>
      <p><b>【メールアドレス】</b><br><%= @inquiry.email %></p>
      <p><b>【お問い合わせ内容】</b><br><%= simple_format(@inquiry.message) %></p>    
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :message %>
      <%= f.submit '送信', id: 'send_message', style: "display:none" %>
    <% end %>
    <div class="button_div">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="send_message_button">
        <i class="material-icons md-18">mail_outline</i> 送信
      </button>
    </div>
    <div class="button_div">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="back_button">
        戻る
      </button>
    </div>
  </div>
</div>